<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
        <title>{% block title %}{% endblock %}</title>

        <!-- plugins css -->
        <link rel="stylesheet" href="{% static 'vendors/bootstrap/dist/css/bootstrap.css' %}"/>
        <link rel="stylesheet" href="{% static 'vendors/PACE/themes/blue/pace-theme-minimal.css' %}" />
        <link rel="stylesheet" href="{% static 'vendors/perfect-scrollbar/css/perfect-scrollbar.min.css' %}" />

        <!-- core css -->
        <link href="{% static 'css/ei-icon.css' %}" rel="stylesheet">
        <link href="{% static 'css/themify-icons.css' %}" rel="stylesheet">
        <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/app.css' %}" rel="stylesheet">
    </head>

    <body>
        <!-- Content Wrapper START -->
        <div class="main-content p-3">
            <div class="container-fluid">
                <!-- Your content goes here -->
                {% block content %}{% endblock %}
            </div>
        </div>
        <!-- Content Wrapper END -->

        {% block footer %}{% endblock %}

        <!-- plugins js -->
        <script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'vendors/popper.js/dist/umd/popper.min.js' %}"></script>
        <script src="{% static 'vendors/bootstrap/dist/js/bootstrap.js' %}"></script>
        <script src="{% static 'vendors/PACE/pace.min.js' %}"></script>
        <script src="{% static 'vendors/perfect-scrollbar/js/perfect-scrollbar.jquery.js' %}"></script>
        <!-- endbuild -->

        <!-- core js -->
        <script src="{% static 'js/app.js' %}"></script>
        <!-- endbuild -->
    </body>
</html>