<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
        <title>{% block title %}{% endblock %}</title>


        <!-- plugins css -->
        <link rel="stylesheet" href="{% static 'vendors/bootstrap/dist/css/bootstrap.css' %}"/>
        <link rel="stylesheet" href="{% static 'vendors/PACE/themes/blue/pace-theme-minimal.css' %}" />
        <link rel="stylesheet" href="{% static 'vendors/perfect-scrollbar/css/perfect-scrollbar.min.css' %}" />

        <!-- page plugins css -->

        <!-- core css -->
        <link href="{% static 'css/ei-icon.css' %}" rel="stylesheet">
        <link href="{% static 'css/themify-icons.css' %}" rel="stylesheet">
        <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/app.css' %}" rel="stylesheet">

    </head>

    <body>
        <!-- Content Wrapper START -->
        <div class="main-content p-3">
            <div class="container-fluid">
                <!-- Your content goes here -->
                {% block content %}{% endblock %}
            </div>
        </div>
        <!-- Content Wrapper END -->

        <!-- Footer START -->
        <footer class="content-footer">
            <div class="footer">
                <div class="copyright">
                    <span>Copyright © 2020.</span>
                    <span class="go-right">
                        <a href="tg://resolve?domain=DavidBintsenee" class="text-gray mrg-right-15">Telegram</a>
                        <a href="https://wa.me/79852844162" class="text-gray mrg-right-15" target="_blank">WhatsApp</a>
                        <a href="tel:+7 985 284-41-62" class="text-gray">Phone</a>
                    </span>
                </div>
            </div>
        </footer>
        <!-- Footer END -->


        <!-- build:js assets/js/vendor.js -->
        <!-- plugins js -->
        <script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'vendors/popper.js/dist/umd/popper.min.js' %}"></script>
        <script src="{% static 'vendors/bootstrap/dist/js/bootstrap.js' %}"></script>
        <script src="{% static 'vendors/PACE/pace.min.js' %}"></script>
        <script src="{% static 'vendors/perfect-scrollbar/js/perfect-scrollbar.jquery.js' %}"></script>
        <!-- endbuild -->

        <!-- build:js assets/js/app.min.js -->
        <!-- core js -->
        <script src="{% static 'js/app.js' %}"></script>
        <!-- endbuild -->

        <!-- Insert your dependencies here -->
    </body>
</html>