{% extends 'base_client.html' %}

{% block content %}
    <div class="container">
        <hr>
        <p class="h3">
            Project Name: {{ project_name }}
            <a href="{% url 'client_logout' project_name %}" class="float-right">Logout {{ username }}</a>
        </p>
        <div class="card-deck">
            {% for cell in cells %}
                <div class="card
                {% if cell.status == 1 %} border-success
                {% else %} border-secondary
                {% endif %} mt-4" style="min-width: 300px; border-width:4px;">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ cell.cell_name }}</h5>
                        <h6 class="card-subtitle text-muted">{{ cell.info }}</h6>
                        <p class="card-text text-muted">Status: {% widthratio cell.status 1 100 %}%</p>
                        {% if cell.links %}
                            {% for link in cell.links.all %}
                                <a href="{{ link }}" class="card-link" target="_blank">{{ link }}</a>
                            {% endfor %}
                        {% endif %}
                        {% if cell.files %}
                            {% for file in cell.files.all %}
                                <a href="{{ file.file.url }}" class="card-link" target="_blank">{{ file.name }}</a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}