{% extends "base_client.html" %}
{% load static %}
{% block content %}
    <div class="sign-in-2">
        <div class="container-fluid no-pdd-horizon bg">
            <div class="row">
                <div class="col-md-10 mr-auto ml-auto">
                    <div class="row">
                        <div class="mr-auto ml-auto full-height height-100 d-flex align-items-center">
                            <div class="vertical-align full-height">
                                <div class="table-cell">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="pdd-horizon-30 pdd-vertical-30">
                                                <div class="mrg-btm-30">
                                                    <img class="img-responsive inline-block" src="{% static 'PT_logo_Black_1.png' %}" alt="" width="185">
                                                    <img class="img-responsive inline-block pull-right" src="{{ logo.url }}" alt="" width="50">
                                                </div>
                                                <p class="mrg-btm-15 font-size-13">Please enter your user name and password to login</p>
                                                <form method="post">
                                                    <div class="form-group">
                                                        <input type="text" name="username" class="form-control" placeholder="User name">
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="password" name="password" class="form-control" placeholder="Password">
                                                    </div>
                                                    <div class="mrg-top-20 text-right">
                                                        {% csrf_token %}
                                                        <button class="btn btn-info" type="submit">Login</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}