.list-label {
    padding-left: 0px;
    line-height: 0;

    > li{
        height: 2px;
        width: 40px;
        background: #fafafa;
        border-radius: 50px;
        display: inline-block;
        margin-right: 5px;
    }
}

.draggable-item {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
