{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row m-4">
        <p class="h4">
            Username: {{ username }}
            <br>
            First name: {{ first_name }}
            <br>
            Last name: {{ last_name }}
            <br>
            Email: {{ email }}
            <br>
            Group: {{ groups }}
            <br>

            {% if profile.bio %}
                Bio: {{ profile.bio }}
                <br>
            {% endif %}
            {% if profile.phone %}
                Phone: {{ profile.phone }}
                <br>
            {% endif %}
            {% if profile.telegram %}
                Telegram: {{ profile.telegram }}
                <br>
            {% endif %}
            {% if profile.bank_account %}
                Bank Account: {{ profile.bank_account }}
                <br>
            {% endif %}
            {% if profile.location %}
                Location: {{ profile.location }}
                <br>
            {% endif %}
            {% if profile.birth_date %}
                Birth Day: {{ profile.birth_date }}
                <br>
            {% endif %}
            {% if profile.second_email %}
                Second email: {{ profile.second_email }}
                <br>
            {% endif %}

            <hr>
            <a href="{% url 'profile' %}">Change Profile</a>
            <hr>
            {% if projects %}
                <ul>
                    {% for project in projects %}
                        <li><a href="{% url 'project_page' project.project_name %}">{{ project }}</a> </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No projects</p>
            {%  endif %}
        </p>
    </div>
</div>
{%  endblock %}