{% extends 'base.html' %}

{% block content %}
    {% if projects %}
        <div class="container">
            <div class="card-deck">
                {% for project in projects %}
                    <div class="card
                    {% if project.project_name in my_projects_names %}
                        border-success
                    {% else %}
                        border-warning
                    {% endif %}
                     mt-4" style="min-width: 200px; border-width:4px;">
                        <a href="{% url 'project_page' project.project_name %}" style="text-decoration: none;">
                            <div class="card-body text-center">
                                <h5 class="card-title">{{ project.project_name }}</h5>
                                <h6 class="card-subtitle text-muted">Status: {% widthratio project.project_status 1 100 %}%</h6>
                                <p class="card-text text-muted">Deadline: {{ project.project_deadline }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <p>No projects</p>
    {%  endif %}
{% endblock %}