{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row m-4">
            <p class="h3">
                Project Name: {{ project.project_name }}
                <br>
                Status: {% widthratio project.project_status 1 100 %}%
                {% if project.main_audio %}
                    <br><br>
                    <audio controls preload="auto">
                        <source src="{{ project.main_audio.url }}" type="audio/mpeg" />
                    </audio>
                {% endif %}
                <hr>
                Deadline: {{ project.project_deadline }} ({{ rest }} full days)
                <br>
                <br>
                Team:
                <br>
                {% for name in team_names %}
                    {{ name }}
                    <br>
                {% endfor %}
            </p>
        </div>
    </div>
    <hr>

    <div class="container py-2">
        <h2 class="font-weight-light text-center text-muted py-3">Timeline</h2>

        {% for moment in moments %}
        <div class="row">
            <!-- timeline item 1 left dot -->
            <div class="col-auto text-center flex-column d-none d-sm-flex">
                <div class="row h-50">
                    <div class="col
                        {% if moment.id != first_id %} border-right
                        {% endif %}
                        ">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
                <h5 class="m-2">
                    <span class="badge badge-pill
                    {% if moment.status == 'R' %} bg-success
                    {% else %} bg-light
                    {% endif %}
                    border">&nbsp;</span>
                </h5>
                <div class="row h-50">
                    <div class="col
                        {% if moment.id != last_id %} border-right
                        {% endif %}
                        ">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
            </div>
            <!-- timeline item 1 event content -->
            <div class="col py-2">
                <div class="card
                    {% if moment.status == 'R' %} border-success shadow
                    {% endif %}">
                    <div class="card-body">
                        <div class="float-right
                            {% if moment.status == 'R' %} text-success
                            {% else %} text-muted
                            {% endif %}">
                            {% if moment.author %}
                                {{ moment.author }} |
                            {% endif %}
                            {{ moment.upload_time }}</div>
                        <h4 class="card-title
                            {% if moment.status == 'R' %} text-success
                            {% elif moment.status == 'NR' %} text-muted
                            {% endif %}">
                            {{ moment.header }}</h4>
                        <p class="card-text">{{ moment.description }}</p>

                        <button class="btn btn-sm btn-outline-secondary my-2" type="button" data-target="#t{{ moment.id }}_details" data-toggle="collapse">Show Details ▼</button>
                        <div class="collapse border" id="t{{ moment.id }}_details">
                            <div class="p-2 text-monospace">
                                <pre>{{ moment.details }}</pre>
                            </div>
                            <form action="" method="post" class="m-2">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="text" name="details" class="p-2 text-monospace form-control input-lg">
                                </div>
                                <input type="submit" name="mom{{ moment.id }}" value="Submit" class="btn btn-sm btn-outline-secondary my-2"/>
                            </form>
                        </div>
                        <button class="btn btn-sm btn-outline-secondary my-2" type="button" data-target="#ti{{ moment.id }}_details" data-toggle="collapse">Show Image ▼</button>
                        <div class="collapse border" id="ti{{ moment.id }}_details">
                            {% if moment.moment_image %}
                                <img src="{{ moment.moment_image.url }}" class="img-fluid">
                            {% endif %}
                            {% if moment.status != 'R' %}
                                <form action="" method="post" enctype="multipart/form-data" class="m-2">
                                    {% csrf_token %}
                                    <input type="file" name="image">
                                    <input type="submit" name="mom{{ moment.id }}" value="Submit"/>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{%  endblock %}